.container {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 15px;
    width: 75%;
    position: relative;
}

.gif img, .btn-link {
  position: absolute;
}

.btn-link {
  top: 50%;
  left: 5%;
}


.incorrect {
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}

.off {
  display: block;
}

.on {
  display: none;
}


.incorrect img{
  display:none;
}

@media only screen and (max-width: 1300px) {
  .gif {
    display: none;
  }
}